/*Navegacao Horizontal*/

ul{
   
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
    background: url(/Navegacao_Horizontal/img/fundo-horizontal.png) repeat-x;
    float: left;
}

li{
   float: left;
  
}

ul a{
    display: block;
    padding: 0 2em;
    line-height: 2em;
    text-decoration: none;
    color: white;
    background: url(/Navegacao_Horizontal/img/divisor.png) repeat-y left top;
}

ul .primeiro a{
    background: none;
}

ul a:hover{
    color: #085662;
    background: #44cade;
}

#home .selecionado a{
    color: #085662;
}