       
@media only screen and (max-width: 720px) {

    /*For Mobile*/
    body{
        background: rgb(118, 16, 16);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       
     }
     
     .container{
        display: grid;
        place-content: center;
        overflow: hidden;
        margin-top: 12.4em;
     
        
     }
     
     
     
     .user-info{
     
         display: flex;
         text-align: center;
         align-items: center;
         flex-direction: column;
     }
     
     .user-info input{
         margin: 1rem 0.75rem;
     
         border: none;
     width:21rem;
     height: 65px;
     background: #FFFFFF;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 0.25em;
     }
     
     .user-info input[type=text]{
         padding-left: 3rem;
     }
     
     .user-info input[type=password]{
         padding-left: 3rem;
     }
     .user-info .svgUser{
         position: absolute;
         left: 40;
         top:230;
     
     }
     .user-info .svgpassword{
         position: absolute;
         left: 40;
         top:329;
     
     }
     .user-info a{
         text-decoration: none;
        
     }
     .user-info span{
         position: absolute;
         left: 15rem;
     
     }.user-info p{
         color: #3C5FDA;
     }
     #sigIn{
         margin: 0.75rem;
         border: none;
         width:21rem;
         height: 65px;
     background: #3C5FDA;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 0.25em; 
     color: white;
     cursor: pointer;
     }
     
     #sigIn:hover{
         background: #0a1643;
     }
     .signInWith button{
         cursor: pointer;
         border: none;
         background: none;
     }
     
     
}
    
@media only screen and (max-width: 720px) {

    /*For Mobile*/
    body{
        background: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       
     }
     
     .container{
        display: grid;
        place-content: center;
        overflow: hidden;
        margin-top: 12.4em;
     
        
     }
     
     
     
     .user-info{
     
         display: flex;
         text-align: center;
         align-items: center;
         flex-direction: column;
     }
     
     .user-info input{
         margin: 1rem 0.75rem;
     
         border: none;
     width:21rem;
     height: 65px;
     background: #FFFFFF;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 0.25em;
     }
     
     .user-info input[type=text]{
         padding-left: 3rem;
     }
     
     .user-info input[type=password]{
         padding-left: 3rem;
     }
     .user-info .svgUser{
         position: absolute;
         left: 40;
         top:230;
     
     }
     .user-info .svgpassword{
         position: absolute;
         left: 40;
         top:329;
     
     }
     .user-info a{
         text-decoration: none;
        
     }
     .user-info span{
         position: absolute;
         left: 15rem;
     
     }.user-info p{
         color: #3C5FDA;
     }
     #sigIn{
         margin: 0.75rem;
         border: none;
         width:21rem;
         height: 65px;
     background: #3C5FDA;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 0.25em; 
     color: white;
     cursor: pointer;
     }
     
     #sigIn:hover{
         background: #0a1643;
     }
     .signInWith button{
         cursor: pointer;
         border: none;
         background: none;
     }
     
     
}
@media only screen and (min-width: 600px){
   

    /* For tablets: */

    body{
        background: rgb(255, 234, 0);
       
     }
     
     .container{
        display: grid;
        place-content: center;
        overflow: hidden;
        margin-top: 12.4em;
     
        
     }
     
     
     
     .user-info{
     
         display: flex;
         text-align: center;
         align-items: center;
         flex-direction: column;
     }
     
     .user-info input{
         margin: 1rem 0.75rem;
     
         border: none;
     width:31rem;
     height: 65px;
     background: #FFFFFF;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 0.25em;
     }
     
     .user-info input[type=text]{
         padding-left: 3rem;
     }
     
     .user-info input[type=password]{
         padding-left: 3rem;
     }
     .user-info .svgUser{
         position: absolute;
         left: 140;
         top:230;
     
     }
     .user-info .svgpassword{
         position: absolute;
         left: 140;
         top:329;
     
     }
     .user-info a{
         text-decoration: none;
        
     }
     .user-info span{
         position: absolute;
         left: 15rem;
     
     }.user-info p{
         color: #3C5FDA;
     }
     #sigIn{
         margin: 0.75rem;
         border: none;
         width:21rem;
         height: 65px;
     background: #3C5FDA;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 0.25em; 
     color: white;
     cursor: pointer;
     }
     
     #sigIn:hover{
         background: #0a1643;
     }
     .signInWith button{
         cursor: pointer;
         border: none;
         background: none;
     }
      
}
@media only screen and (min-width: 720px) {


    /* For tablets: */

    body{
        background: white;
       
     }
     
     .container{
        display: grid;
        place-content: center;
        overflow: hidden;
        margin-top: 12.4em;
     
        
     }
     
     
     
     .user-info{
     
         display: flex;
         text-align: center;
         align-items: center;
         flex-direction: column;
     }
     
     .user-info input{
         margin: 1rem 0.75rem;
     
         border: none;
     width:31rem;
     height: 65px;
     background: #FFFFFF;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 0.25em;
     }
     
     .user-info input[type=text]{
         padding-left: 3rem;
     }
     
     .user-info input[type=password]{
         padding-left: 3rem;
     }
     .user-info .svgUser{
         position: absolute;
         left: 140;
         top:230;
     
     }
     .user-info .svgpassword{
         position: absolute;
         left: 140;
         top:329;
     
     }
     .user-info a{
         text-decoration: none;
        
     }
     .user-info span{
         position: absolute;
         left: 15rem;
     
     }.user-info p{
         color: #3C5FDA;
     }
     #sigIn{
         margin: 0.75rem;
         border: none;
         width:21rem;
         height: 65px;
     background: #3C5FDA;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 0.25em; 
     color: white;
     cursor: pointer;
     }
     
     #sigIn:hover{
         background: #0a1643;
     }
     .signInWith button{
         cursor: pointer;
         border: none;
         background: none;
     }
     
     
}

