body{
   background: white;
}

.container{
   display: grid;
   place-content: center;

   margin-top: 9.4em;

   
}



.user-info{

    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.user-info input{
    margin: 1rem 0.75rem;

    border: none;
width: 21rem;
height: 55px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0.25em;
}

.user-info input[type=text]{
    padding-left: 2.5rem;
}

.user-info input[type=password]{
    padding-left: 2.5rem;
}
.user-info .svgUser{
    position: absolute;
    left: 30;
    top:180;

}
.user-info .svgpassword{
    position: absolute;
    left: 30;
    top:265;

}
.user-info a{
    text-decoration: none;
   
}
.user-info span{
    position: absolute;
    left: 15rem;

}.user-info p{
    color: #3C5FDA;
}
#sigIn{
    margin: 0.75rem;
    border: none;
width: 21rem;
height: 3.43em;
background: #3C5FDA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0.25em; 
color: white;
cursor: pointer;
}

#sigIn:hover{
    background: #0a1643;
}
.signInWith button{
    cursor: pointer;
    border: none;
    background: none;
}

